<div class='container'>
  
  <p id="notice"><%= notice %></p>
  
  <h1>Tails        
    <% if user_signed_in? %>
    <%= link_to "New Tail", new_tweet_path, class: "btn btn-info btn-lg" %>  
    <% end %>
  </h1>
  
    <tbody>
      <% @tweets.reverse_each do |tweet, posted| %>
        <div class="mt-3">
          <div class="card bg-light" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"> <!---this next ruby command is the bit that doesn't work on heroku  <%= link_to tweet.user.username, user_path(tweet.user.username) %> ---> </h5>
              <p class="card-text"><%= tweet.content %></p>
              <a href="#" class="card-link"><%= link_to 'Show', tweet %></a>
              <% if tweet.user == current_user %>
              <a href="#" class="card-link">           </a>
              <a href="#" class="card-link">           </a>
              <a href="#" class="card-link"><%= link_to 'Edit', edit_tweet_path(tweet) %></a>
              <a href="#" class="card-link">           </a>
              <a href="#" class="card-link">           </a>
              <a href="#" class="card-link">           </a>
              <a href="#" class="card-link"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></a>
              <% end %>
              <p> </p>
              <p><%= tweet.created_at.strftime('%H:%M, %e %b %Y')%></p>
            </div>
          </div>
        </div>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <% if user_signed_in? %>
    <%= link_to "New Tail", new_tweet_path, class: "btn btn-info btn-lg" %>  
  <% end %>
</div>
