<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
            <p>petSNAP: Purrrfect fun for you and your furry friends</p>
        </div>
    </div>
      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Explore</h2>
                <p>See what other petSNAP users are talking about</p>
                <p><%= link_to "View all Tails", tweets_path, class: "btn btn-info" %></p>
            </div>
            <div class="col-md-4">
                 <h2>Share</h2>
                <p>Update us with daily pics and 'tails' about your pets with your family, friends and like minded animal lovers</p>
                <p><%= link_to "New Tail", new_tweet_path, class: "btn btn-info" %></p>
            </div>
            <div class="col-md-4">
               <h2>Home</h2>
                <p> Update your status with your pet's latest hilarious habits and see Tails from the people you follow </p>
                <p><%= link_to "Your Homepage", user_path(current_user.username), class: "btn btn-info" %></p>
            </div>
        </div>
    </div>
    
    
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to petSNAP!</h1>
            <p>Purrrfect fun for you and your furry friends</p>
            <%= link_to "Learn more »", about_path, class: "btn btn-info btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Explore</h2>
                <p>See what other petSNAP users are talking about</p>
                <p><%= link_to "View all Tails", tweets_path, class: "btn btn-info" %></p>
            </div>
            <div class="col-md-4">
                 <h2>Share</h2>
                <p>Update us with daily pics and 'tails' about your pets with your family, friends and like minded animal lovers</p>
                <p><%= link_to "Log In", login_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
               <h2>Home</h2>
                <p> Update your status with your pet's latest hilarious habits and see Tails from the people you follow </p>
                <p><%= link_to "Log In", login_path, class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>

<p></p>
<p></p>
<div class='container'>
    <!--<h2>Tails</h2>
        <!-- @followings.reverse_each do |tweet, posted| %>  --> 
            <!--<div class="card bg-light" style="width: 18rem;">
                <!--<div class="card-body">
                    <!--<p class="card-text"><!-- tweet.content %></p>
                    <!--<p><!-- tweet.created_at.strftime('%H:%M, %e %b %Y')%></p>
                <!--</div>
            <!--</div>
            <p></p>
        <!-- end %>
</div>