<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
            <p>petSNAP: Purrrfect fun for you and your furry friends</p>
        </div>
    </div>
      <div class="container">
        <div class="row">
            <div class="col-md-4">
               <h2>Introduce</h2>
                <p> Say hello, and tell us about all the hilarious habits your pet has </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                 <h2>Share</h2>
                <p>Update us with daily pics, vids and 'tails' about your pets with your family, friends and like minded animal lovers</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Snap!</h2>
                <p>Find the closest match for your pet among other petSNAP users</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to petSNAP!</h1>
            <p>Purrrfect fun for you and your furry best friends</p>
            <%= link_to "Learn more »", "#", class: "btn btn-info btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               <h2>Introduce</h2>
                <p> Say hello, and tell us about all the hilarious habits your pet has </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                 <h2>Share</h2>
                <p>Update us with daily pics, vids and 'tails' about your pets with your family, friends and like minded animal lovers</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Snap!</h2>
                <p>Find the closest match for your pet among other petSNAP users</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>